In [1]:
% load_ext sql

In [2]:
%%sql
sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

--Query 1: What course has Dawn Massey taught the most?

In [7]:
%%sql
SELECT LName,FName,Count_of_Courses,Description
FROM FACULTY_W
    JOIN CLASS_FACTS_W USING(FID)
    JOIN COURSE_W USING(CID)
WHERE LName='Massey' and FName='Dawn W'
    LIMIT 20;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [13]:
%%sql
SELECT LName,FName,Count_of_Courses,Description
FROM FACULTY_W
    JOIN CLASS_FACTS_W USING(FID)
    JOIN COURSE_W USING(CID)
WHERE LName='Huntley'
    LIMIT 5;

 * sqlite:///CourseDataWarehouse.db
Done.

[('Huntley', 'Christopher L.', 36, 'This course offers lab experience in modern experimental methods and techniques. It involves lab investigation of fundamental concepts in modern phys ... (308 characters truncated) ... cquisition and control, hardware and software, etc. This lab course gives students maximum opportunity to work on their own with minimum supervision.'),
 ('Huntley', 'Christopher L.', 36, 'This course offers lab experience in modern experimental methods and techniques. It involves lab investigation of fundamental concepts in modern phys ... (308 characters truncated) ... cquisition and control, hardware and software, etc. This lab course gives students maximum opportunity to work on their own with minimum supervision.'),
 ('Huntley', 'Christopher L.', 36, 'This course offers lab experience in modern experimental methods and techniques. It involves lab investigation of fundamental concepts in modern phys ... (308 characters truncated) ... cquisition and control, hardware and software, etc. This lab course gives students maximum opportunity to work on their own with minimum supervision.'),
 ('Huntley', 'Christopher L.', 36, 'This course offers lab experience in modern experimental methods and techniques. It involves lab investigation of fundamental concepts in modern phys ... (308 characters truncated) ... cquisition and control, hardware and software, etc. This lab course gives students maximum opportunity to work on their own with minimum supervision.'),
 ('Huntley', 'Christopher L.', 36, 'This course offers lab experience in modern experimental methods and techniques. It involves lab investigation of fundamental concepts in modern phys ... (308 characters truncated) ... cquisition and control, hardware and software, etc. This lab course gives students maximum opportunity to work on their own with minimum supervision.')]

--Apparently we have an issue - we are SURE Dawn Massey has taught in the last 5 years; yet, she is not coming up in the data warehouse (Our teammate knows that she has taught AC590 Research on Contemporary Issues in Accounting the most - 10 sections of the 33 she's taught since Fall 2014). Further, results are showing Prof. Huntley as teaching a lab in QUANTUM PHYSICS!

--Query 2: In which term did Dawn Massey teach the most students?

In [9]:
%%sql
SELECT LName,FName,Max_Act,Term
FROM FACULTY_W
    JOIN CLASS_FACTS_W USING(FID)
    JOIN TERM_W USING(TermID)
WHERE LName='Massey' and FName='Dawn W'
ORDER BY Term
;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

--Again, we have an issue - we know Dawn Massey has taught in the last 5 years; yet she is not in the data warehouse (Spoiler alert - the answer is 73 students in Spring 2015)

--Query 3: In which building has Massey taught the most?

In [10]:
%%sql
SELECT LName,FName,Term,Count_Classes_per_Bldg,Building
FROM FACULTY_W
    JOIN CLASS_FACTS_W USING(FID)
    JOIN LOCATION_W USING(LID)
    JOIN TERM_W USING(TermID)
WHERE LName='Massey' and FName='Dawn W'
ORDER BY Count_Classes_per_Bldg
;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

--Shocking...another issue. (Spoiler alert - the answer is DSB, where Dawn has taught 27 of her 33 assigned courses since Fall 2014.)

--Query 4: On which day has Massey taught the most courses?

In [11]:
%%sql
SELECT LName,FName,Term,Count_of_Courses
FROM FACULTY_W
    JOIN CLASS_FACTS_W USING(FID)
    JOIN LOCATION_W USING(LID)
    JOIN TERM_W USING(TermID)
WHERE LName='Massey' and FName='Dawn W'
ORDER BY Count_of_Courses
;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

--And, still, Dawn Massey is not in our Data Warehouse. The answer: It's a tie! Tuesday and Wednesday with 9 classes meeting on each day.

--Conclusion: We end where we began...with Sisyphus, this time using a quote from Albert Camus' The Myth of Sisyphus and other essays: “There is no longer a single idea explaining everything, but an infinite number of essences giving a meaning to an infinite number of objects. The world comes to a stop, but also lights up.”