## making the datawarehouse

In [1]:
import pandas as pd
import sqlite3
import numpy as np
conn = sqlite3.connect('CourseDataWarehouse.db')
c = conn.cursor()

In [2]:
% load_ext sql

In [3]:
%%sql

sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

In [4]:
%%sql

DROP TABLE IF EXISTS LOCATION_W;

CREATE TABLE LOCATION_W(
    LID INTEGER PRIMARY KEY,
    BUILDING TEXT,
    ROOM TEXT
);

DROP TABLE IF EXISTS FACULTY_W;

CREATE TABLE FACULTY_W(
    FID INTEGER PRIMARY KEY,
    LNAME TEXT,
    FNAME TEXT
);

DROP TABLE IF EXISTS COURSE_W;

CREATE TABLE COURSE_W(
    CID INTEGER PRIMARY KEY,
    CRN TEXT,
    CREDITS TEXT,
    PREREQS TEXT,
    COREQS TEXT,
    ATTRIBUTES TEXT,
    DESCRIPTION TEXT,
    PROGRAM_NAME TEXT,
    PROGRAM_CODE TEXT
);

DROP TABLE IF EXISTS TERM_W;

CREATE TABLE TERM_W(
    TERMID INTEGER PRIMARY KEY,
    SEMESTER TEXT,
    YEAR TEXT,
    TERM TEXT
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## populating the dimension tables

In [5]:
%%sql

--popluting the location dimension table--
INSERT INTO LOCATION_W(BUILDING, ROOM)
SELECT DISTINCT BUILDING, ROOM 
FROM Location;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [6]:
%%sql

SELECT * FROM LOCATION_W
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'DSB', '105'),
 (2, 'DSB', '111'),
 (3, 'DSB', '110A'),
 (4, 'DSB', '108'),
 (5, 'DSB', '110B'),
 (6, 'DSB', '104'),
 (7, 'DSB', '112'),
 (8, 'DSB', '109'),
 (9, 'DSB', '115'),
 (10, 'DSB', '2109A')]

In [7]:
%%sql

--populating the faculty_w dimension table--
INSERT INTO FACULTY_W(LNAME, FNAME)
SELECT DISTINCT LNAME, FNAME
FROM FACULTY;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [8]:
%%sql

SELECT * FROM FACULTY_W
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'Coyne', 'Michael P.'),
 (2, 'Bloch', 'Rebecca I.'),
 (3, ' Caster', 'Paul'),
 (4, ' Drusbosky', 'Jo Ann'),
 (5, 'Kardos', 'Arleen N.'),
 (6, 'Brenner', 'Scott M'),
 (7, 'Cassidy', 'Kevin C.'),
 (8, ' Bradford', 'Bruce'),
 (9, 'Peck', 'Milo W.'),
 (10, 'Yost', 'Stephen E.')]

In [9]:
%%sql

--populating course_w dimension table
INSERT INTO COURSE_W(CRN,CREDITS,PREREQS, COREQS,ATTRIBUTES,DESCRIPTION,PROGRAM_NAME,PROGRAM_CODE)
SELECT DISTINCT CRN, CREDITS,PREREQS, COREQS,ATTRIBUTES,DESCRIPTION,PROGRAMNAME,PROGRAMCODE
FROM COURSE
    LEFT JOIN PROGRAMS USING (PID)
    LEFT JOIN COURSE_OFFERING USING (CID);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [10]:
%%sql

SELECT * FROM COURSE_W LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, '73018', '1-3 Credits', None, None, None, 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.', 'Asian Studies', 'AN'),
 (2, '73057', '1-3 Credits', None, None, None, 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.', 'Asian Studies', 'AN'),
 (3, '35347', '3 Credits', None, None, None, 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.', 'Asian Studies', 'AN'),
 (4, '71367', '3 Credits', None, None, None, 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.', 'Asian Studies', 'AN'),
 (5, '11801', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU'),
 (6, '34165', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU'),
 (7, '34166', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU'),
 (8, '34167', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU'),
 (9, '34168', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU'),
 (10, '34624', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU')]

In [11]:
%%sql

--populating the term_w table--
INSERT INTO TERM_W(SEMESTER, YEAR, TERM)
SELECT DISTINCT SEMESTER, YEAR, TERM
FROM COURSE_OFFERING;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [12]:
%%sql

SELECT * FROM TERM_W LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'Fall', '2014', 'Fall2014'),
 (2, 'Fall', '2015', 'Fall2015'),
 (3, 'Fall', '2016', 'Fall2016'),
 (4, 'Fall', '2017', 'Fall2017'),
 (5, 'Fall', '2018', 'Fall2018'),
 (6, 'Spring', '2015', 'Spring2015'),
 (7, 'Spring', '2016', 'Spring2016'),
 (8, 'Spring', '2017', 'Spring2017'),
 (9, 'Spring', '2018', 'Spring2018'),
 (10, 'Spring', '2019', 'Spring2019')]

## creating the fact table.

In [13]:
%%sql

DROP TABLE IF EXISTS COURSE_OFFERING_W;

CREATE TABLE COURSE_OFFERING_W(
    COID INTEGER PRIMARY KEY,
    ACT INTEGER,
    CAP INTEGER, 
    REM INTEGER,
    AVG_CAP INTEGER,
    MAX_CAP INTEGER,
    AVG_CLASS_BUILDING INTERGER,
    NUM_ROOM_BUILDING INTERGER,
    TERMID INTEGER,
    CID INTEGER,
    LID INTEGER,
    FID INTEGER,
    FOREIGN KEY (TERMID) REFERENCES TERM_W (TERMID),
    FOREIGN KEY (CID) REFERENCES COURSE_W (CID),
    FOREIGN KEY (LID) REFERENCES LOCATION_W (LID),
    FOREIGN KEY (FID) REFERENCES FACULTY_W (FID)
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

In [14]:
%%sql

--populating the course_offering_w table
INSERT INTO COURSE_OFFERING_W (ACT, CAP, REM, FID, LID, TERMID, CID)
SELECT DISTINCT ACT, CAP, REM, FID, LID,TERMID, CID
FROM COURSE_OFFERING
    LEFT JOIN FACULTY_W USING (FID)
    LEFT JOIN CLASS_MEETINGS USING (COID)
    LEFT JOIN LOCATION USING (LID)
    JOIN TERM_W USING (SEMESTER)
    JOIN COURSE_W USING (CID)
;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [20]:
%%sql

SELECT * FROM COURSE_OFFERING_W LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 28, 0, -28, None, None, None, None, 1, 113, 3, 2),
 (2, 28, 0, -28, None, None, None, None, 2, 113, 3, 2),
 (3, 28, 0, -28, None, None, None, None, 3, 113, 3, 2),
 (4, 28, 0, -28, None, None, None, None, 4, 113, 3, 2),
 (5, 28, 0, -28, None, None, None, None, 5, 113, 3, 2),
 (6, 29, 0, -29, None, None, None, None, 1, 113, 3, 2),
 (7, 29, 0, -29, None, None, None, None, 2, 113, 3, 2),
 (8, 29, 0, -29, None, None, None, None, 3, 113, 3, 2),
 (9, 29, 0, -29, None, None, None, None, 4, 113, 3, 2),
 (10, 29, 0, -29, None, None, None, None, 5, 113, 3, 2)]

## manipulating the fact table to fill in numeric data

In [18]:
table = '''SELECT * FROM COURSE_OFFERING_W'''
df = pd.read_sql(table, conn)
df.head()

,COID,ACT,CAP,REM,AVG_CAP,MAX_CAP,AVG_CLASS_BUILDING,NUM_ROOM_BUILDING,TERMID,CID,LID,FID
0,1,28,0,-28,None,None,None,None,1,113,3.0,2
1,2,28,0,-28,None,None,None,None,2,113,3.0,2
2,3,28,0,-28,None,None,None,None,3,113,3.0,2
3,4,28,0,-28,None,None,None,None,4,113,3.0,2
4,5,28,0,-28,None,None,None,None,5,113,3.0,2

In [ ]:
column_avg = dict(df['ACT'].groupby(df['CID']).mean())
column_avg

In [49]:
# filling in values into the Avg_Cap and MAX_CAP
df['AVG_CAP'] = df['CAP'].mean()

column_max = dict(df['CAP'].groupby(df['CID']).max())
column_avg = dict(df['CAP'].groupby(df['CID']).mean())

for k, v in column_max.items(): 
    df['MAX_CAP'][v] = df['CAP'][k]
for k, v in column_avg.items():
    df['AVG_CAP'][v] = df['CAP'][k]
df

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/tljh/user/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

,COID,ACT,CAP,REM,AVG_CAP,MAX_CAP,AVG_CLASS_BUILDING,NUM_ROOM_BUILDING,TERMID,CID,LID,FID
0,1,28,0,-28,0.000000,25.0,None,None,1,113,3.0,2
1,2,28,0,-28,18.737899,28.0,None,None,2,113,3.0,2
2,3,28,0,-28,18.737899,8.0,None,None,3,113,3.0,2
3,4,28,0,-28,18.737899,7.0,None,None,4,113,3.0,2
4,5,28,0,-28,0.000000,7.0,None,None,5,113,3.0,2
5,6,29,0,-29,18.737899,7.0,None,None,1,113,3.0,2
6,7,29,0,-29,18.737899,25.0,None,None,2,113,3.0,2
7,8,29,0,-29,18.737899,25.0,None,None,3,113,3.0,2
8,9,29,0,-29,18.737899,10.0,None,None,4,113,3.0,2
9,10,29,0,-29,18.737899,19.0,None,None,5,113,3.0,2
10,11,29,0,-29,18.737899,20.0,None,None,1,113,49.0,2
11,12,29,0,-29,18.737899,15.0,None,None,2,113,49.0,2
12,13,29,0,-29,18.737899,8.0,None,None,3,113,49.0,2
13,14,29,0,-29,18.737899,15.0,None,None,4,113,49.0,2
14,15,29,0,-29,18.737899,15.0,None,None,5,113,49.0,2
15,16,26,0,-26,18.737899,5.0,None,None,1,113,6.0,685
16,17,26,0,-26,18.737899,10.0,None,None,2,113,6.0,685
17,18,26,0,-26,18.737899,0.0,None,None,3,113,6.0,685
18,19,26,0,-26,18.737899,3.0,None,None,4,113,6.0,685
19,20,26,0,-26,18.737899,20.0,None,None,5,113,6.0,685
20,21,30,0,-30,18.737899,0.0,None,None,1,113,6.0,685
21,22,30,0,-30,18.737899,25.0,None,None,2,113,6.0,685
22,23,30,0,-30,18.737899,0.0,None,None,3,113,6.0,685
23,24,30,0,-30,18.737899,20.0,None,None,4,113,6.0,685
24,25,30,0,-30,18.737899,0.0,None,None,5,113,6.0,685
25,26,30,0,-30,18.737899,0.0,None,None,1,113,48.0,685
26,27,30,0,-30,18.737899,20.0,None,None,2,113,48.0,685
27,28,30,0,-30,18.737899,15.0,None,None,3,113,48.0,685
28,29,30,0,-30,18.737899,25.0,None,None,4,113,48.0,685
29,30,30,0,-30,18.737899,18.0,None,None,5,113,48.0,685
...,...,...,...,...,...,...,...,...,...,...,...,...
37673,37674,3,30,27,18.737899,NaN,None,None,18,2067,NaN,423
37674,37675,3,30,27,18.737899,NaN,None,None,19,2067,NaN,423
37675,37676,20,20,0,18.737899,NaN,None,None,16,535,NaN,456
37676,37677,20,20,0,18.737899,NaN,None,None,17,535,NaN,456
37677,37678,20,20,0,18.737899,NaN,None,None,18,535,NaN,456
37678,37679,20,20,0,18.737899,NaN,None,None,19,535,NaN,456
37679,37680,11,20,9,18.737899,NaN,None,None,16,625,NaN,282
37680,37681,11,20,9,18.737899,NaN,None,None,17,625,NaN,282
37681,37682,11,20,9,18.737899,NaN,None,None,18,625,NaN,282
37682,37683,11,20,9,18.737899,NaN,None,None,19,625,NaN,282
37683,37684,20,20,0,18.737899,NaN,None,None,16,590,NaN,466
37684,37685,20,20,0,18.737899,NaN,None,None,17,590,NaN,466
37685,37686,20,20,0,18.737899,NaN,None,None,18,590,NaN,466
37686,37687,20,20,0,18.737899,NaN,None,None,19,590,NaN,466
37687,37688,16,20,4,18.737899,NaN,None,None,16,558,NaN,493
37688,37689,16,20,4,18.737899,NaN,None,None,17,558,NaN,493
37689,37690,16,20,4,18.737899,NaN,None,None,18,558,NaN,493
37690,37691,16,20,4,18.737899,NaN,None,None,19,558,NaN,493
37691,37692,20,21,1,18.737899,NaN,None,None,16,943,NaN,666
37692,37693,20,21,1,18.737899,NaN,None,None,17,943,NaN,666
37693,37694,20,21,1,18.737899,NaN,None,None,18,943,NaN,666
37694,37695,20,21,1,18.737899,NaN,None,None,19,943,NaN,666
37695,37696,10,15,5,18.737899,NaN,None,None,16,631,88.0,249
37696,37697,10,15,5,18.737899,NaN,None,None,17,631,88.0,249
37697,37698,10,15,5,18.737899,NaN,None,None,18,631,88.0,249
37698,37699,10,15,5,18.737899,NaN,None,None,19,631,88.0,249
37699,37700,15,15,0,18.737899,NaN,None,None,16,317,134.0,543
37700,37701,15,15,0,18.737899,NaN,None,None,17,317,134.0,543
37701,37702,15,15,0,18.737899,NaN,None,None,18,317,134.0,543
37702,37703,15,15,0,18.737899,NaN,None,None,19,317,134.0,543

In [50]:
column = df['CAP'].groupby(df['CID']).max()
column

CID
1        0
2        5
3       25
4       25
7       25
9       20
10       0
11      15
12      12
13      10
14      12
18      18
19      18
20      18
21      18
26      30
27       5
28      28
29      30
30      28
36      30
37      28
39      20
41       5
44      30
46      20
52       0
53      15
54       0
64      18
        ..
4359    16
4360    20
4368    15
4373     8
4374     8
4375    12
4377    14
4378    14
4379     2
4380     2
4389    14
4390    14
4392    20
4394    14
4395    14
4398    13
4399    13
4400    16
4401    16
4404    10
4405    10
4406    10
4407    10
4408    10
4409    10
4410     0
4411    10
4414    10
4418    10
4423    10
Name: CAP, Length: 2513, dtype: int64

## dropping unnecessary tables

In [16]:
%%sql

--DROP TABLE COURSE;
--DROP TABLE PROGRAMS;
--DROP TABLE COURSE_OFFERING;
--DROP TABLE CLASS_MEETINGS;
--DROP TABLE FACULTY;
--DROP TABLE LOCATION;

 * sqlite:///CourseDataWarehouse.db
(sqlite3.OperationalError) no such table: COURSE [SQL: 'DROP TABLE COURSE;'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [17]:
%%sql

VACUUM

 * sqlite:///CourseDataWarehouse.db
Done.

[]