## ETL process

In this notebook, we go through the etl process, yada yada yada

Creating the database based on the ERD tables

In [1]:
%load_ext sql

In [2]:
%%sql

sqlite:///CourseData.db

'Connected: @CourseData.db'

creating the separate tables.

Creating Programs Table

In [3]:
%%sql
DROP TABLE IF EXISTS PROGRAMS;

CREATE TABLE PROGRAMS ( 
    PID INTEGER PRIMARY KEY,
    PROGRAMCODE TEXT NOT NULL,
    PROGRAMNAME TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.
Done.

[]

Creating Faculty Table

In [4]:
%%sql
DROP TABLE IF EXISTS FACULTY;
CREATE TABLE FACULTY ( 
    FID INTEGER PRIMARY KEY,
    LNAME TEXT NOT NULL,
    FNAME TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.
Done.

[]

Creating the Location Table

In [5]:
%%sql
DROP TABLE IF EXISTS LOCATION;

CREATE TABLE LOCATION ( 
    LID INTEGER PRIMARY KEY,
    BUILDING TEXT NOT NULL,
    ROOM_NO TEXT NO NULL
);

 * sqlite:///CourseData.db
Done.
Done.

[]

Creating the Course Table

In [6]:
%%sql
DROP TABLE IF EXISTS COURSE;
CREATE TABLE COURSE ( 
    CID INTEGER PRIMARY KEY,
    PID INTEGER NOT NULL,
    EFFECTIVETERM TEXT NOT NULL,
    CATALOG_ID TEXT NOT NULL,
    COURSE_TITLE TEXT NOT NULL,
    CREDITS TEXT NOT NULL,
    PREREQS TEXT,
    COREQS TEXT,
    FEES REAL,
    ATTRIBUTES TEXT,
    DESCRIPTION TEXT NOT NULL,
    FOREIGN KEY (PID) REFERENCES PROGRAMS (PID)
);

 * sqlite:///CourseData.db
Done.
Done.

[]

Creating teh Course_Offering Table

In [7]:
%%sql
DROP TABLE IF EXISTS COURSE_OFFERING;
CREATE TABLE COURSE_OFFERING ( 
    COID INTEGER PRIMARY KEY,
    CID INTEGER NOT NULL,
    FID INTEGER NOT NULL,
    CRN TEXT NOT NULL,
    SEMESTER TEXT NOT NULL,
    YEAR INTEGER NOT NULL,
    TITLE TEXT NOT NULL,
    MEETINGS TEXT,
    TIMECODES TEXT,
    SECTION TEXT NOT NULL,
    CAP INTEGER NOT NULL,
    ACT INTEGER NOT NULL,
    REM INTEGER NOT NULL,
    FOREIGN KEY (CID) REFERENCES COURSE (CID)
    FOREIGN KEY (FID) REFERENCES FACULTY (FID)
);

 * sqlite:///CourseData.db
Done.
Done.

[]

Creating the Class_Meetings Table

In [8]:
%%sql
DROP TABLE IF EXISTS CLASS_MEETINGS;
CREATE TABLE CLASS_MEETINGS ( 
    CMID INTEGER PRIMARY KEY,
    COID INTEGER NOT NULL,
    LID INTEGER NOT NULL,
    DAY TEXT,
    START TEXT,
    END TEXT,
    FOREIGN KEY (LID) REFERENCES LOCATION (LID)
    FOREIGN KEY (COID) REFERENCES COURSE_OFFERING (COID)
);

 * sqlite:///CourseData.db
Done.
Done.

[]