## making the datawarehouse

In [1]:
import pandas as pd
import sqlite3
import numpy as np
import pandasql as ps
conn = sqlite3.connect('CourseDataWarehouse.db')
c = conn.cursor()

In [2]:
% load_ext sql

In [3]:
%%sql

sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

In [4]:
%%sql

DROP TABLE IF EXISTS LOCATION_W;

CREATE TABLE LOCATION_W(
    LID INTEGER PRIMARY KEY,
    BUILDING TEXT,
    ROOM TEXT
);

DROP TABLE IF EXISTS FACULTY_W;

CREATE TABLE FACULTY_W(
    FID INTEGER PRIMARY KEY,
    LNAME TEXT,
    FNAME TEXT
);

DROP TABLE IF EXISTS COURSE_W;

CREATE TABLE COURSE_W(
    CID INTEGER PRIMARY KEY,
    CRN TEXT,
    CREDITS TEXT,
    PREREQS TEXT,
    COREQS TEXT,
    ATTRIBUTES TEXT,
    DESCRIPTION TEXT,
    PROGRAM_NAME TEXT,
    PROGRAM_CODE TEXT
);

DROP TABLE IF EXISTS TERM_W;

CREATE TABLE TERM_W(
    TERMID INTEGER PRIMARY KEY,
    SEMESTER TEXT,
    YEAR TEXT,
    TERM TEXT
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## populating the dimension tables

In [5]:
%%sql

--popluting the location dimension table--
INSERT INTO LOCATION_W(BUILDING, ROOM)
SELECT DISTINCT BUILDING, ROOM 
FROM Location;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [6]:
%%sql

SELECT * FROM LOCATION_W
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'DSB', '105'),
 (2, 'DSB', '111'),
 (3, 'DSB', '110A'),
 (4, 'DSB', '108'),
 (5, 'DSB', '110B'),
 (6, 'DSB', '104'),
 (7, 'DSB', '112'),
 (8, 'DSB', '109'),
 (9, 'DSB', '115'),
 (10, 'DSB', '2109A')]

In [7]:
%%sql

--populating the faculty_w dimension table--
INSERT INTO FACULTY_W(LNAME, FNAME)
SELECT DISTINCT LNAME, FNAME
FROM FACULTY;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [8]:
%%sql

SELECT * FROM FACULTY_W
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'Coyne', 'Michael P.'),
 (2, 'Bloch', 'Rebecca I.'),
 (3, ' Caster', 'Paul'),
 (4, ' Drusbosky', 'Jo Ann'),
 (5, 'Kardos', 'Arleen N.'),
 (6, 'Brenner', 'Scott M'),
 (7, 'Cassidy', 'Kevin C.'),
 (8, ' Bradford', 'Bruce'),
 (9, 'Peck', 'Milo W.'),
 (10, 'Yost', 'Stephen E.')]

In [9]:
%%sql

--populating course_w dimension table
INSERT INTO COURSE_W(CRN,CREDITS,PREREQS, COREQS,ATTRIBUTES,DESCRIPTION,PROGRAM_NAME,PROGRAM_CODE)
SELECT DISTINCT CRN, CREDITS,PREREQS, COREQS,ATTRIBUTES,DESCRIPTION,PROGRAMNAME,PROGRAMCODE
FROM COURSE
    LEFT JOIN PROGRAMS USING (PID)
    LEFT JOIN COURSE_OFFERING USING (CID);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [10]:
%%sql

SELECT * FROM COURSE_W LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, '73018', '1-3 Credits', None, None, None, 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.', 'Asian Studies', 'AN'),
 (2, '73057', '1-3 Credits', None, None, None, 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.', 'Asian Studies', 'AN'),
 (3, '35347', '3 Credits', None, None, None, 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.', 'Asian Studies', 'AN'),
 (4, '71367', '3 Credits', None, None, None, 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.', 'Asian Studies', 'AN'),
 (5, '11801', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU'),
 (6, '34165', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU'),
 (7, '34166', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU'),
 (8, '34167', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU'),
 (9, '34168', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU'),
 (10, '34624', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU')]

In [11]:
%%sql

--populating the term_w table--
INSERT INTO TERM_W(SEMESTER, YEAR, TERM)
SELECT DISTINCT SEMESTER, YEAR, TERM
FROM COURSE_OFFERING;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [12]:
%%sql

SELECT * FROM TERM_W LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'Fall', '2014', 'Fall2014'),
 (2, 'Fall', '2015', 'Fall2015'),
 (3, 'Fall', '2016', 'Fall2016'),
 (4, 'Fall', '2017', 'Fall2017'),
 (5, 'Fall', '2018', 'Fall2018'),
 (6, 'Spring', '2015', 'Spring2015'),
 (7, 'Spring', '2016', 'Spring2016'),
 (8, 'Spring', '2017', 'Spring2017'),
 (9, 'Spring', '2018', 'Spring2018'),
 (10, 'Spring', '2019', 'Spring2019')]

## creating the fact table.

In [13]:
%%sql

DROP TABLE IF EXISTS COURSE_OFFERING_W;

CREATE TABLE COURSE_OFFERING_W(
    COID INTEGER PRIMARY KEY,
    ACT INTEGER,
    CAP INTEGER, 
    REM INTEGER,
    AVG_CAP INTEGER,
    MAX_CAP INTEGER,
    AVG_CLASS_BUILDING INTERGER,
    NUM_ROOM_BUILDING INTERGER,
    TERMID INTEGER,
    CID INTEGER,
    LID INTEGER,
    FID INTEGER,
    FOREIGN KEY (TERMID) REFERENCES TERM_W (TERMID),
    FOREIGN KEY (CID) REFERENCES COURSE_W (CID),
    FOREIGN KEY (LID) REFERENCES LOCATION_W (LID),
    FOREIGN KEY (FID) REFERENCES FACULTY_W (FID)
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

In [14]:
%%sql

--populating the course_offering_w table
INSERT INTO COURSE_OFFERING_W (ACT, CAP, REM, FID, LID, TERMID, CID)
SELECT DISTINCT ACT, CAP, REM, FID, LID,TERMID, CID
FROM COURSE_OFFERING
    LEFT JOIN FACULTY_W USING (FID)
    LEFT JOIN CLASS_MEETINGS USING (COID)
    LEFT JOIN LOCATION USING (LID)
    JOIN TERM_W USING (SEMESTER)
    JOIN COURSE_W USING (CID)
;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [15]:
%%sql

SELECT * FROM COURSE_OFFERING_W LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 28, 0, -28, None, None, None, None, 1, 113, 3, 2),
 (2, 28, 0, -28, None, None, None, None, 2, 113, 3, 2),
 (3, 28, 0, -28, None, None, None, None, 3, 113, 3, 2),
 (4, 28, 0, -28, None, None, None, None, 4, 113, 3, 2),
 (5, 28, 0, -28, None, None, None, None, 5, 113, 3, 2),
 (6, 29, 0, -29, None, None, None, None, 1, 113, 3, 2),
 (7, 29, 0, -29, None, None, None, None, 2, 113, 3, 2),
 (8, 29, 0, -29, None, None, None, None, 3, 113, 3, 2),
 (9, 29, 0, -29, None, None, None, None, 4, 113, 3, 2),
 (10, 29, 0, -29, None, None, None, None, 5, 113, 3, 2)]

## manipulating the fact table to fill in numeric data

In [16]:
table = '''SELECT * FROM COURSE_OFFERING_W'''
df = pd.read_sql(table, conn)
df.head()

,COID,ACT,CAP,REM,AVG_CAP,MAX_CAP,AVG_CLASS_BUILDING,NUM_ROOM_BUILDING,TERMID,CID,LID,FID
0,1,28,0,-28,None,None,None,None,1,113,3.0,2
1,2,28,0,-28,None,None,None,None,2,113,3.0,2
2,3,28,0,-28,None,None,None,None,3,113,3.0,2
3,4,28,0,-28,None,None,None,None,4,113,3.0,2
4,5,28,0,-28,None,None,None,None,5,113,3.0,2

In [17]:
q1 = '''SELECT AVG(ACT) as avg_act, CID FROM df GROUP BY CID'''
df2=pd.DataFrame(ps.sqldf(q1, locals()))
df2.head()

    avg_act  CID
0   1.00000    1
1   1.50000    2
2  23.74359    3
3  10.00000    4
4  12.00000    7

In [18]:
df=df.merge(df2, on='CID', how='left')
df.sample(10)

,COID,ACT,CAP,REM,AVG_CAP,MAX_CAP,AVG_CLASS_BUILDING,NUM_ROOM_BUILDING,TERMID,CID,LID,FID,avg_act
4805,4806,27,28,1,None,None,None,None,1,739,6.0,622,27.055556
561,562,1,0,-1,None,None,None,None,2,1,16.0,93,1.000000
35478,35479,12,15,3,None,None,None,None,9,2765,33.0,507,11.000000
17445,17446,12,11,-1,None,None,None,None,1,2897,172.0,835,12.000000
23039,23040,23,22,-1,None,None,None,None,10,906,181.0,382,17.880952
8442,8443,14,18,4,None,None,None,None,3,329,114.0,769,14.407407
13458,13459,29,30,1,None,None,None,None,4,3233,49.0,284,21.000000
19126,19127,25,25,0,None,None,None,None,7,3,2.0,68,23.743590
27731,27732,15,15,0,None,None,None,None,7,3720,53.0,854,17.666667
15596,15597,16,20,4,None,None,None,None,2,3749,20.0,416,17.333333

In [19]:
df['AVG_CAP'] = df['avg_act']
df

,COID,ACT,CAP,REM,AVG_CAP,MAX_CAP,AVG_CLASS_BUILDING,NUM_ROOM_BUILDING,TERMID,CID,LID,FID,avg_act
0,1,28,0,-28,28.916667,None,None,None,1,113,3.0,2,28.916667
1,2,28,0,-28,28.916667,None,None,None,2,113,3.0,2,28.916667
2,3,28,0,-28,28.916667,None,None,None,3,113,3.0,2,28.916667
3,4,28,0,-28,28.916667,None,None,None,4,113,3.0,2,28.916667
4,5,28,0,-28,28.916667,None,None,None,5,113,3.0,2,28.916667
5,6,29,0,-29,28.916667,None,None,None,1,113,3.0,2,28.916667
6,7,29,0,-29,28.916667,None,None,None,2,113,3.0,2,28.916667
7,8,29,0,-29,28.916667,None,None,None,3,113,3.0,2,28.916667
8,9,29,0,-29,28.916667,None,None,None,4,113,3.0,2,28.916667
9,10,29,0,-29,28.916667,None,None,None,5,113,3.0,2,28.916667
10,11,29,0,-29,28.916667,None,None,None,1,113,49.0,2,28.916667
11,12,29,0,-29,28.916667,None,None,None,2,113,49.0,2,28.916667
12,13,29,0,-29,28.916667,None,None,None,3,113,49.0,2,28.916667
13,14,29,0,-29,28.916667,None,None,None,4,113,49.0,2,28.916667
14,15,29,0,-29,28.916667,None,None,None,5,113,49.0,2,28.916667
15,16,26,0,-26,28.916667,None,None,None,1,113,6.0,685,28.916667
16,17,26,0,-26,28.916667,None,None,None,2,113,6.0,685,28.916667
17,18,26,0,-26,28.916667,None,None,None,3,113,6.0,685,28.916667
18,19,26,0,-26,28.916667,None,None,None,4,113,6.0,685,28.916667
19,20,26,0,-26,28.916667,None,None,None,5,113,6.0,685,28.916667
20,21,30,0,-30,28.916667,None,None,None,1,113,6.0,685,28.916667
21,22,30,0,-30,28.916667,None,None,None,2,113,6.0,685,28.916667
22,23,30,0,-30,28.916667,None,None,None,3,113,6.0,685,28.916667
23,24,30,0,-30,28.916667,None,None,None,4,113,6.0,685,28.916667
24,25,30,0,-30,28.916667,None,None,None,5,113,6.0,685,28.916667
25,26,30,0,-30,28.916667,None,None,None,1,113,48.0,685,28.916667
26,27,30,0,-30,28.916667,None,None,None,2,113,48.0,685,28.916667
27,28,30,0,-30,28.916667,None,None,None,3,113,48.0,685,28.916667
28,29,30,0,-30,28.916667,None,None,None,4,113,48.0,685,28.916667
29,30,30,0,-30,28.916667,None,None,None,5,113,48.0,685,28.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37673,37674,3,30,27,22.562500,None,None,None,18,2067,NaN,423,22.562500
37674,37675,3,30,27,22.562500,None,None,None,19,2067,NaN,423,22.562500
37675,37676,20,20,0,21.545455,None,None,None,16,535,NaN,456,21.545455
37676,37677,20,20,0,21.545455,None,None,None,17,535,NaN,456,21.545455
37677,37678,20,20,0,21.545455,None,None,None,18,535,NaN,456,21.545455
37678,37679,20,20,0,21.545455,None,None,None,19,535,NaN,456,21.545455
37679,37680,11,20,9,13.846154,None,None,None,16,625,NaN,282,13.846154
37680,37681,11,20,9,13.846154,None,None,None,17,625,NaN,282,13.846154
37681,37682,11,20,9,13.846154,None,None,None,18,625,NaN,282,13.846154
37682,37683,11,20,9,13.846154,None,None,None,19,625,NaN,282,13.846154
37683,37684,20,20,0,20.076923,None,None,None,16,590,NaN,466,20.076923
37684,37685,20,20,0,20.076923,None,None,None,17,590,NaN,466,20.076923
37685,37686,20,20,0,20.076923,None,None,None,18,590,NaN,466,20.076923
37686,37687,20,20,0,20.076923,None,None,None,19,590,NaN,466,20.076923
37687,37688,16,20,4,22.756757,None,None,None,16,558,NaN,493,22.756757
37688,37689,16,20,4,22.756757,None,None,None,17,558,NaN,493,22.756757
37689,37690,16,20,4,22.756757,None,None,None,18,558,NaN,493,22.756757
37690,37691,16,20,4,22.756757,None,None,None,19,558,NaN,493,22.756757
37691,37692,20,21,1,20.297872,None,None,None,16,943,NaN,666,20.297872
37692,37693,20,21,1,20.297872,None,None,None,17,943,NaN,666,20.297872
37693,37694,20,21,1,20.297872,None,None,None,18,943,NaN,666,20.297872
37694,37695,20,21,1,20.297872,None,None,None,19,943,NaN,666,20.297872
37695,37696,10,15,5,9.500000,None,None,None,16,631,88.0,249,9.500000
37696,37697,10,15,5,9.500000,None,None,None,17,631,88.0,249,9.500000
37697,37698,10,15,5,9.500000,None,None,None,18,631,88.0,249,9.500000
37698,37699,10,15,5,9.500000,None,None,None,19,631,88.0,249,9.500000
37699,37700,15,15,0,14.642857,None,None,None,16,317,134.0,543,14.642857
37700,37701,15,15,0,14.642857,None,None,None,17,317,134.0,543,14.642857
37701,37702,15,15,0,14.642857,None,None,None,18,317,134.0,543,14.642857
37702,37703,15,15,0,14.642857,None,None,None,19,317,134.0,543,14.642857

# filling in values into the Avg_Cap and MAX_CAP
df['AVG_CAP'] = df['CAP'].mean()

column_max = dict(df['CAP'].groupby(df['CID']).max())
column_avg = dict(df['CAP'].groupby(df['CID']).mean())

for k, v in column_max.items(): 
    df['MAX_CAP'][v] = df['CAP'][k]
for k, v in column_avg.items():
    df['AVG_CAP'][v] = df['CAP'][k]
df

In [19]:
column = df['CAP'].groupby(df['CID']).max()
df['CAP'][9]

0

## dropping unnecessary tables

In [20]:
%%sql

--DROP TABLE COURSE;
--DROP TABLE PROGRAMS;
--DROP TABLE COURSE_OFFERING;
--DROP TABLE CLASS_MEETINGS;
--DROP TABLE FACULTY;
--DROP TABLE LOCATION;

 * sqlite:///CourseDataWarehouse.db
0 rows affected.

[]

In [21]:
%%sql

VACUUM

 * sqlite:///CourseDataWarehouse.db
Done.

[]