## making the datawarehouse

In [1]:
import pandas as pd
import sqlite3
import numpy as np
conn = sqlite3.connect('CourseDataWarehouse.db')
c = conn.cursor()

In [2]:
% load_ext sql

In [3]:
%%sql

sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

In [4]:
%%sql

DROP TABLE IF EXISTS LOCATION_W;

CREATE TABLE LOCATION_W(
    LID INTEGER PRIMARY KEY,
    BUILDING TEXT,
    ROOM TEXT
);

DROP TABLE IF EXISTS FACULTY_W;

CREATE TABLE FACULTY_W(
    FID INTEGER PRIMARY KEY,
    LNAME TEXT,
    FNAME TEXT
);

DROP TABLE IF EXISTS COURSE_W;

CREATE TABLE COURSE_W(
    CID INTEGER PRIMARY KEY,
    CRN TEXT,
    CREDITS TEXT,
    PREREQS TEXT,
    COREQS TEXT,
    ATTRIBUTES TEXT,
    DESCRIPTION TEXT,
    PROGRAM_NAME TEXT,
    PROGRAM_CODE TEXT
);

DROP TABLE IF EXISTS TERM_W;

CREATE TABLE TERM_W(
    TERMID INTEGER PRIMARY KEY,
    SEMESTER TEXT,
    YEAR TEXT,
    TERM TEXT
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## populating the dimension tables

In [5]:
%%sql

--popluting the location dimension table--
INSERT INTO LOCATION_W(BUILDING, ROOM)
SELECT DISTINCT BUILDING, ROOM 
FROM Location;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [6]:
%%sql

SELECT * FROM LOCATION_W
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'DSB', '105'),
 (2, 'DSB', '111'),
 (3, 'DSB', '110A'),
 (4, 'DSB', '108'),
 (5, 'DSB', '110B'),
 (6, 'DSB', '104'),
 (7, 'DSB', '112'),
 (8, 'DSB', '109'),
 (9, 'DSB', '115'),
 (10, 'DSB', '2109A')]

In [7]:
%%sql

--populating the faculty_w dimension table--
INSERT INTO FACULTY_W(LNAME, FNAME)
SELECT DISTINCT LNAME, FNAME
FROM FACULTY;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [8]:
%%sql

SELECT * FROM FACULTY_W
LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'Coyne', 'Michael P.'),
 (2, 'Bloch', 'Rebecca I.'),
 (3, ' Caster', 'Paul'),
 (4, ' Drusbosky', 'Jo Ann'),
 (5, 'Kardos', 'Arleen N.'),
 (6, 'Brenner', 'Scott M'),
 (7, 'Cassidy', 'Kevin C.'),
 (8, ' Bradford', 'Bruce'),
 (9, 'Peck', 'Milo W.'),
 (10, 'Yost', 'Stephen E.')]

In [9]:
%%sql

--populating course_w dimension table
INSERT INTO COURSE_W(CRN,CREDITS,PREREQS, COREQS,ATTRIBUTES,DESCRIPTION,PROGRAM_NAME,PROGRAM_CODE)
SELECT DISTINCT CRN, CREDITS,PREREQS, COREQS,ATTRIBUTES,DESCRIPTION,PROGRAMNAME,PROGRAMCODE
FROM COURSE
    LEFT JOIN PROGRAMS USING (PID)
    LEFT JOIN COURSE_OFFERING USING (CID);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [10]:
%%sql

SELECT * FROM COURSE_W LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, '73018', '1-3 Credits', None, None, None, 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.', 'Asian Studies', 'AN'),
 (2, '73057', '1-3 Credits', None, None, None, 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.', 'Asian Studies', 'AN'),
 (3, '35347', '3 Credits', None, None, None, 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.', 'Asian Studies', 'AN'),
 (4, '71367', '3 Credits', None, None, None, 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.', 'Asian Studies', 'AN'),
 (5, '11801', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU'),
 (6, '34165', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU'),
 (7, '34166', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU'),
 (8, '34167', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU'),
 (9, '34168', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU'),
 (10, '34624', '3 Credits', 'Junior standing.', None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', 'Business', 'BU')]

In [11]:
%%sql

--populating the term_w table--
INSERT INTO TERM_W(SEMESTER, YEAR, TERM)
SELECT DISTINCT SEMESTER, YEAR, TERM
FROM COURSE_OFFERING;

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [12]:
%%sql

SELECT * FROM TERM_W LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'Fall', '2014', 'Fall2014'),
 (2, 'Fall', '2015', 'Fall2015'),
 (3, 'Fall', '2016', 'Fall2016'),
 (4, 'Fall', '2017', 'Fall2017'),
 (5, 'Fall', '2018', 'Fall2018'),
 (6, 'Spring', '2015', 'Spring2015'),
 (7, 'Spring', '2016', 'Spring2016'),
 (8, 'Spring', '2017', 'Spring2017'),
 (9, 'Spring', '2018', 'Spring2018'),
 (10, 'Spring', '2019', 'Spring2019')]

## creating the fact table.

In [13]:
%%sql

DROP TABLE IF EXISTS COURSE_OFFERING_W;

CREATE TABLE COURSE_OFFERING_W(
    COID INTEGER PRIMARY KEY,
    ACT INTEGER,
    CAP INTEGER, 
    REM INTEGER,
    AVG_CAP INTEGER,
    MAX_CAP INTEGER,
    AVG_CLASS_BUILDING INTERGER,
    NUM_ROOM_BUILDING INTERGER,
    TERMID INTEGER,
    CID INTEGER,
    LID INTEGER,
    FID INTEGER,
    FOREIGN KEY (TERMID) REFERENCES TERM_W (TERMID),
    FOREIGN KEY (CID) REFERENCES COURSE_W (CID),
    FOREIGN KEY (LID) REFERENCES LOCATION_W (LID),
    FOREIGN KEY (FID) REFERENCES FACULTY_W (FID)
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.

[]

In [19]:
%%sql

--populating the course_offering_w table
--INSERT INTO COURSE_OFFERING_W (ACT, CAP, REM, AVG_CAP, MAX_CAP, AVG_CLASS_BUILDING,NUM_ROOM_BUILDING, TERMID, CID, LID, FID)
SELECT DISTINCT ACT, CAP, REM, FID,CID
FROM COURSE_OFFERING
    JOIN FACULTY_W USING (FID)
    --JOIN LOCATION_W USING (LID)
    --JOIN TERM_W USING (TERMID)
    JOIN COURSE_W USING (CID)
    LIMIT 10;

 * sqlite:///CourseDataWarehouse.db
Done.

[(28, 0, -28, 2, 113),
 (29, 0, -29, 2, 113),
 (26, 0, -26, 685, 113),
 (30, 0, -30, 685, 113),
 (31, 0, -31, 685, 113),
 (29, 0, -29, 685, 113),
 (30, 30, 0, 1, 113),
 (30, 30, 0, 4, 113),
 (29, 30, 1, 4, 113),
 (27, 30, 3, 777, 113)]