In [1]:
import pandas as pd
import numpy as np
import sqlite3
import numpy as np
conn = sqlite3.connect('CourseData.db')
c = conn.cursor()

In [2]:
%load_ext sql
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

In [3]:
%%sql

DROP TABLE IF EXISTS IMPORT_Courses;
DROP TABLE IF EXISTS IMPORT_Course_Meetings;
DROP TABLE IF EXISTS IMPORT_CourseCatlog;
DROP TABLE IF EXISTS IMPORT_Course_Catalog;

CREATE TABLE IMPORT_Courses (
    term TEXT,
    crn TEXT,
    catalog_id TEXT,
    section TEXT,
    credits TEXT,
    title TEXT,
    meetings TEXT,
    timecodes TEXT,
    primary_instructor TEXT,
    cap INT,
    act INT, 
    rem INT,
    fname TEXT,
    lname TEXT,
    semester TEXT,
    year TEXT
);


CREATE TABLE IMPORT_Course_Meetings(
    crn TEXT,
    location TEXT,
    day TEXT,
    start TEXT,
    end TEXT,
    term TEXT, 
    building TEXT, 
    room TEXT
);

CREATE TABLE IMPORT_Course_Catalog(
    program_code TEXT,
    program_name TEXT,
    catalog_ID TEXT,
    course_title TEXT,
    credits TEXT,
    prereqs TEXT,
    coreqs TEXT,
    fees TEXT,
    attributes TEXT,
    description TEXT,
    EffectiveTerm TEXT
);

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [4]:


folder_names = ['Fall2014', 'Fall2015', 'Fall2016', 'Fall2017', 'Fall2018', 'Spring2015', 'Spring2016', 'Spring2017', 'Spring2018',
               'Spring2019', 'SpringBreak2017', 'Summer2015', 'Summer2016', 'Summer2017', 'Summer2018', 'Winter2015', 'Winter2016', 
               'Winter2017', 'Winter2018']


for file in folder_names:
    data = 'SourceData/' + file + '/course_meetings.csv'
    
    if (file == folder_names[0]):
        df = pd.read_csv(data)
    else:
        df = df.append(pd.read_csv(data), ignore_index=True)
    
    
    location = list(df.location)
    building = []
    room = []

    for loc in location:
        loc = loc.strip("\n ' '")
        data = loc.split(' ')

        length = len(data)

        if length == 2:
            building.append(data[0])
            room.append(data[1])
        else:
            building.append(data[0])
            room.append('NULL')


    df['building'] = building

    df['room'] = room
    
df.to_sql('IMPORT_Course_Meetings', conn, if_exists='append', index=False)

/opt/tljh/user/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [5]:
print(df.head())
print(df.tail())

  building    crn day                  end location room                start
0      DSB  70384   T  2014-09-02T09:15:00  DSB 105  105  2014-09-02T08:00:00
1      DSB  70384   F  2014-09-05T09:15:00  DSB 105  105  2014-09-05T08:00:00
2      DSB  70384   T  2014-09-09T09:15:00  DSB 105  105  2014-09-09T08:00:00
3      DSB  70384   F  2014-09-12T09:15:00  DSB 105  105  2014-09-12T08:00:00
4      DSB  70384   T  2014-09-16T09:15:00  DSB 105  105  2014-09-16T08:00:00
       building    crn day                  end location room  \
317316      LYL  11832   R  2018-01-04T16:30:00   LYL 22   22
317317      LYL  11832   F  2018-01-05T16:30:00   LYL 22   22
317318      LYL  11832   M  2018-01-08T16:30:00   LYL 22   22
317319      LYL  11832   T  2018-01-09T16:30:00   LYL 22   22
317320      LYL  11832   W  2018-01-10T16:30:00   LYL 22   22

                      start
317316  2018-01-04T08:30:00
317317  2018-01-05T08:30:00
317318  2018-01-08T08:30:00
317319  2018-01-09T08:30:00
317320  2018-01-10T08:30:00

In [6]:
folder_names = ['Fall2014', 'Fall2015', 'Fall2016', 'Fall2017', 'Fall2018', 'Spring2015', 'Spring2016', 'Spring2017', 'Spring2018',
               'Spring2019', 'SpringBreak2017', 'Summer2015', 'Summer2016', 'Summer2017', 'Summer2018', 'Winter2015', 'Winter2016', 
               'Winter2017', 'Winter2018']


for file in folder_names:
    data = 'SourceData/' + file + '/courses.csv'
    
    if (file == folder_names[0]):
        df = pd.read_csv(data)
    else:
        df = df.append(pd.read_csv(data), ignore_index=True)
        
        
        
    
    instructor = list(df.primary_instructor)
    lname = []
    fname = []

    for name in instructor:
        data = name.split('  ')

        length = len(data)

        if length == 2:
            fname.append(data[0])
            lname.append(data[1])
        else:
            fname.append('TBA')
            lname.append('TBA')


    df['fname'] = fname

    df['lname'] = lname
    
    
    term = list(df.term)
    semester = []
    year = []
    
    for t in term:
        data = t.split('2')
        semester.append(data[0])
        year_val = '2'+data[1]
        year.append(year_val)
        
        
    df['semester'] = semester
    df['year'] = year_val

df.to_sql('IMPORT_Courses', conn, if_exists='append', index=False)

/opt/tljh/user/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [7]:


folder_names = ['SourceData/Catalogs/CourseCatalog2017_2018.csv', 'SourceData/Catalogs/CourseCatalog2018_2019.csv']

df1 = pd.read_csv(folder_names[0])

df1['EffectiveTerm'] = 'NaN'

df1['EffectiveTerm'] = df1['EffectiveTerm'].replace('NaN', '2017-2018')

df2 = pd.read_csv(folder_names[1])

df2['EffectiveTerm'] = 'NaN'

df2['EffectiveTerm'] = df2['EffectiveTerm'].replace('NaN', '2018-2019')

df3 = df1.append(df2, ignore_index=True)


    
df3.to_sql('IMPORT_Course_Catalog', conn, if_exists='append', index=False)

## Closes Our conecction

In [9]:
%%sql

SELECT COUNT(EffectiveTerm) FROM IMPORT_Course_Catalog;

 * sqlite:///CourseData.db
Done.

[(4423,)]

In [10]:
%%sql

SELECT COUNT(lname) FROM IMPORT_Courses;

 * sqlite:///CourseData.db
Done.

[(15937,)]

In [11]:
%%sql

SELECT COUNT(building) FROM IMPORT_Course_Meetings;

 * sqlite:///CourseData.db
Done.

[(317321,)]

In [ ]:
c.close()
del c
conn.close()